
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Smooch+Sans:wght@100&family=Work+Sans:ital,wght@0,100;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Dosis:wght@300;400&family=Playfair+Display:wght@400;700&display=swap');


/*Home Page */

.homePage-background {
height:100vh;

}

.homepage-image {

   background-image: url("General\ Assets/homepage 2.0 STARV higher (1).jpg");

    /* Full height */
height:100%;
  
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

/*end of homepage */



/*navbar */


.header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80px;
    grid-template-areas: 'logo nav';
    border: 3px smooth black;
    text-align: center;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-content: center;

    opacity:1;

    align-items: center;
    top:0;
    z-index: 20;
}

.logo {
    grid-area:logo;
    width:100px;
    height:45px;
    justify-self:flex-end;

    transform:translateX(20px);
    border:2px solid transparent;
 
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    padding-top:20px;
    opacity: 0.8;
    background-color: white;
    border-radius: 5px;
    opacity:0.7;
}


.navigation-bar {
   grid-area:nav;  
   display:flex;
   font-family:  'Bellota Text', cursive;
   justify-content: center;
   flex-direction: row;
   padding: 10px;
   align-items: center;
   width:100%;
   margin:0 auto;
    gap:20px;
    font-weight: bolder;
}
.tabs {
    border: 1px solid transparent;
border-radius: 5px;
    padding: 10px 8px;
    background-color: white;
    transition: background-color 500ms ease-in;
     opacity:0.7;   
}





.media {


    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.media-svg{
   display: flex;
width:40px;
height:40px;
border: 1px solid transparent;
border-radius:5px;
background-color:white;
opacity:0.7;

}   
[class*='icon-']{
    display: block;
 
    
    padding:20px;
    cursor:pointer;
}

[class*='icon-']::before{
    content: '';
    display:block;
    width:1em;
    height:1em;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-discord {
    width:20px;
    height:20px;
   
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 640 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z'/%3E%3C/svg%3E");
    background-size: contain;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-twitter {
width:20px;
height:20px;
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg fill='none' height='15' viewBox='0 0 17 15' width='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1453 4.32361V4.76161C15.1453 6.37661 14.7963 7.93561 14.0983 9.43961C13.4003 10.9426 12.3223 12.2156 10.8643 13.2586C9.40529 14.3026 7.71829 14.8236 5.80029 14.8236C3.94629 14.8236 2.27029 14.2966 0.769287 13.2416C0.936287 13.2646 1.19629 13.2756 1.55029 13.2756C3.11329 13.2756 4.47729 12.7706 5.64429 11.7616C4.93629 11.7616 4.30029 11.5316 3.73829 11.0716C3.17625 10.6126 2.76285 9.9974 2.55029 9.30361C2.69629 9.34861 2.90529 9.37061 3.17529 9.37061C3.48829 9.37061 3.77929 9.33661 4.05029 9.27061C3.30029 9.09061 2.67529 8.67561 2.17529 8.02461C1.67529 7.37461 1.42529 6.63361 1.42529 5.80361V5.73661C1.90529 6.02761 2.39429 6.17361 2.89429 6.17361C1.91429 5.50061 1.42529 4.52461 1.42529 3.24561C1.42529 2.66261 1.58229 2.06761 1.89529 1.46161C3.62329 3.79561 5.87329 5.02961 8.64529 5.16361C8.58294 4.89911 8.55107 4.62835 8.55029 4.35661C8.55029 3.39161 8.86829 2.56161 9.50329 1.86661C10.1403 1.17061 10.9163 0.823608 11.8333 0.823608C12.7913 0.823608 13.5933 1.19361 14.2393 1.93361C15.0513 1.75461 15.7493 1.47361 16.3323 1.09361C16.0823 1.92361 15.6033 2.57361 14.8953 3.04461C15.6253 2.93261 16.2493 2.74161 16.7703 2.47261C16.3417 3.18034 15.7916 3.80694 15.1453 4.32361Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-opensea {
    width:20px;
    height:20px;
 background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='100%25' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' version='1.1' viewBox='0 0 412 412' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Artboard1' transform='matrix(1,0,0,1,-0.75957,-0.739775)'%3E%3Crect height='411.112' style='fill:none;' width='411.112' x='0.76' y='0.74'/%3E%3CclipPath id='_clip1'%3E%3Crect height='411.112' width='411.112' x='0.76' y='0.74'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cg transform='matrix(4.16667,0,0,4.16667,-1.64573,-1.60285)'%3E%3Cpath d='M50.093,0.74C77.321,0.74 99.427,22.845 99.427,50.073C99.427,77.301 77.321,99.407 50.093,99.407C22.865,99.407 0.76,77.301 0.76,50.073C0.76,22.845 22.865,0.74 50.093,0.74ZM63.569,36.482L63.831,36.818C63.961,36.986 64.088,37.15 64.2,37.3C64.3,37.5 64.5,37.7 64.6,38C64.775,38.263 64.931,38.525 65.084,38.788L65.216,39.012C65.369,39.275 65.525,39.538 65.7,39.8C65.8,40.1 66,40.4 66.1,40.7C66.5,41.5 66.8,42.3 66.9,43.2C67,43.4 67,43.6 67,43.7C67.1,43.9 67.1,44.2 67.1,44.5C67.2,45.4 67.1,46.2 67,47.1C66.963,47.25 66.925,47.386 66.888,47.518L66.813,47.782C66.775,47.914 66.738,48.05 66.7,48.2C66.6,48.5 66.5,48.9 66.3,49.3C66,50 65.6,50.7 65.2,51.4C65.1,51.6 64.9,51.9 64.7,52.2C64.5,52.5 64.3,52.7 64.2,53C64,53.3 63.7,53.6 63.5,53.9C63.3,54.2 63.1,54.5 62.8,54.8C62.5,55.2 62.1,55.6 61.8,56C61.6,56.2 61.4,56.5 61.1,56.7C60.9,56.9 60.7,57.2 60.4,57.4C60.1,57.7 59.8,58 59.5,58.2L58.9,58.7C58.8,58.8 58.7,58.8 58.6,58.8L54.2,58.8L54.2,64.4L59.7,64.4C60.9,64.4 62.1,64 63,63.2C63.3,62.9 64.7,61.7 66.4,59.9C66.5,59.8 66.5,59.8 66.6,59.8L81.8,55.4C82.4,55.1 82.6,55.3 82.6,55.6L82.6,58.8C82.6,59 82.5,59.1 82.3,59.2C81.3,59.6 77.8,61.2 76.4,63.2C72.7,68.3 69.9,75.6 63.7,75.6L37.6,75.6C28.4,75.6 20.9,68.1 20.9,58.8L20.9,58.5C20.9,58.3 21.1,58.1 21.3,58.1L36,58.1C36.3,58.1 36.5,58.4 36.5,58.6C36.4,59.5 36.6,60.5 37,61.4C37.9,63.2 39.7,64.2 41.6,64.2L48.8,64.2L48.8,58.6L41.7,58.6C41.3,58.6 41.1,58.2 41.3,57.9C41.4,57.8 41.5,57.7 41.6,57.5C42.3,56.5 43.2,55.1 44.2,53.4C44.9,52.3 45.5,51 46,49.8C46.1,49.6 46.2,49.4 46.3,49.1C46.4,48.7 46.6,48.3 46.7,48C46.8,47.7 46.9,47.4 47,47.1C47.2,46.1 47.3,45 47.3,43.8C47.3,43.4 47.3,42.9 47.2,42.4C47.2,42.181 47.181,41.962 47.159,41.744L47.141,41.556C47.119,41.337 47.1,41.119 47.1,40.9C47.1,40.5 47,40 46.9,39.6C46.8,38.9 46.7,38.3 46.5,37.6L46.4,37.4C46.3,37 46.2,36.5 46,36.1C45.6,34.7 45.1,33.3 44.6,32.1C44.4,31.6 44.2,31.1 44,30.6C43.7,29.9 43.4,29.2 43.1,28.6C43,28.3 42.8,28.1 42.7,27.8C42.6,27.5 42.4,27.2 42.3,26.9C42.2,26.7 42.1,26.5 42,26.3L41.1,24.7C41,24.5 41.2,24.2 41.4,24.3L46.9,25.8L47.6,26L48.4,26.2L48.7,26.3L48.7,23C48.7,21.4 50,20.1 51.5,20.1C52.3,20.1 53,20.4 53.5,20.9C54,21.4 54.3,22.1 54.3,22.9L54.3,27.7L54.9,27.9C54.9,27.9 55,27.9 55,28C55.1,28.1 55.3,28.3 55.6,28.5C55.8,28.7 56,28.9 56.3,29.1C56.8,29.5 57.5,30.1 58.2,30.7C58.4,30.9 58.6,31 58.7,31.2C59.6,32 60.6,33 61.6,34.1C61.9,34.4 62.1,34.7 62.4,35C62.7,35.3 62.9,35.7 63.2,36C63.313,36.15 63.439,36.314 63.569,36.482ZM24.7,51.8L24.9,51.5L37.9,31.2C38.1,30.9 38.5,30.9 38.7,31.3C40.9,36.2 42.7,42.2 41.9,46C41.5,47.6 40.5,49.7 39.3,51.6C39.2,51.9 39,52.2 38.8,52.4C38.7,52.5 38.6,52.6 38.4,52.6L25,52.6C24.7,52.5 24.5,52.1 24.7,51.8Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
 background-size: 22px;
 background-repeat: no-repeat;
 background-position: center;
}
.hamburger-button{
    display:none;
}
  .navBar{
      
display:flex;}

/*end of navbar */



/*start of mediq query for phone */

@media screen and (max-width: 1060px){
    
    .logo {
      
        width:150px;
        height:35px;
    
        opacity:1;
        transform:translateX(-10px);
        border-width:1px solid transparent;
        border-radius:5px;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
 .logo > span {
     background-color:#36454f ;
 }
   .phone-header {
       width:100vw;
       height:70px;
       opacity:0.8;
       background-color:white;
       display:flex;
       position:relative !important;
       justify-content: flex-start;
       align-items: center;
   }
 .hamburger-button {
align-self: center;
   }
 .phone-active-header {
 display:flex;
 flex-direction:row;
 justify-content: flex-start;
 align-items: center;
 height:90px;
 margin:0;
 background-color: rgba(220,220,220,1);
position:inherit !important;

 }
    .navigation-bar {
        display: flex;
        flex-direction: column;
      align-items: center;
        width: 100vw;
  justify-content: space-around;
  
        position: absolute;
        top:80px;

       
        opacity:0;
      
height:100%;
    }
  
    .css-1l7c0cy img {
        height: auto !important;
        object-fit: contain !important;
        
    }
    .art-parent-container .css-1f8sh1y{
        height:100vh !important;
    }
    .navigation-bar.active {
        background-color: rgba(220,220,220,1) !important;
   
        overflow-x: hidden;
        
        left:0;
        opacity:1;
        z-index:100;
height:100vh;
     overflow:hidden;


    }

    .media {
       opacity:0;
    }
    .media.active {
      display: flex;
      flex-direction: row;
    }
    .hamburger-button {
  
       font-size: 1.8rem;
        display: block;
       position: absolute;
       right:20px;
        cursor:pointer;
        transition: all 2s ease;
    }
    
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    
      }
      
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100%;
       background-color: #d1ebff;
    

      }
     .profileCard-Phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
        width:100%;
        padding:20px;
   height:100%;

     }

        .profileCard-Phone > img {
            width:100px;
   
            object-fit: contain;
            align-self: center;
            position: relative;
            height:100px;
            border-radius:50px;
            
        }
        .sanctuary .clouds img{
            
            bottom:20px !important;
            max-width:100%;
      
        }
.founder-phone{
    display: flex;
    width:100%;
    height:100vh;
    justify-content: center;
    display: flex;
}
.founder-text-phone{
    width:100vw;

background-position: center;
margin:0 auto;
background-position: center;

}
.image1,
.image2 {
    display:none;
}



.routemap-avatar > img {
object-fit: cover;
}


.music-bars{
    position:relative !important;
    left:15px;
}

}

/*end of mediq query for phone */




/*icons for nav bar */


.team-icon-instagram {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle/%3E%3Cg data-name='Layer 6' id='Layer_6'%3E%3Cpath class='cls-1' d='M50.39,17.46V46.54a4.64,4.64,0,0,1-4.62,4.63H17.18a4.64,4.64,0,0,1-4.62-4.62V17.46a4.64,4.64,0,0,1,4.62-4.63H45.77'/%3E%3Ccircle cx='50.44' cy='14.13' r='1'/%3E%3Ccircle cx='39.03' cy='25' r='1'/%3E%3Cpath class='cls-1' d='M23.77,20.32a3.75,3.75,0,0,0-3.47,3.74V39.94a3.77,3.77,0,0,0,3.76,3.76h8.59'/%3E%3Cpath class='cls-1' d='M32.65,43.7h7.29a3.77,3.77,0,0,0,3.76-3.76V24.06a3.77,3.77,0,0,0-3.76-3.76H24.06a1.37,1.37,0,0,0-.29,0'/%3E%3Cpath class='cls-1' d='M34,26.74A5.64,5.64,0,1,0,37.64,32'/%3E%3C/g%3E%3C/svg%3E");
}
.team-icon-twitter {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle/%3E%3Cg data-name='Layer 6' id='Layer_6'%3E%3Cpath class='cls-1' d='M50.47,17.15V46.23a4.64,4.64,0,0,1-4.62,4.63H17.27a4.64,4.64,0,0,1-4.62-4.62V17.15a4.64,4.64,0,0,1,4.62-4.62H45.85'/%3E%3Ccircle cx='50.52' cy='13.82' r='1'/%3E%3Cpath class='cls-1' d='M25.49,32.72a12.24,12.24,0,0,1-3.36-1.85,5.4,5.4,0,0,1-1.82-3.77c0-.58-.2-3.5.78-3.43.16,0,.3.15.4.27a11,11,0,0,0,.81.87h0a12,12,0,0,0,8.89,3.36A4.94,4.94,0,0,1,38.42,23a6.15,6.15,0,0,0,1.58.79,3.9,3.9,0,0,0,1.23,0l3-.34a18.05,18.05,0,0,0-2.56,3.93,18.35,18.35,0,0,0-.93,4.15,12.2,12.2,0,0,1-5.16,7.79s0,0,0,0A9.7,9.7,0,0,1,34.4,40h0a11.07,11.07,0,0,1-1.72.78h0l-.55.19-.61.17A18.33,18.33,0,0,1,22.91,41l-1.17-.27-1.37-.38a10.48,10.48,0,0,0,4.76-1.46c.29-.17.59-.41.55-.73a.83.83,0,0,0-.38-.56,13.92,13.92,0,0,1-2.67-3.16'/%3E%3C/g%3E%3C/svg%3E");
}
.team-icon-linkedin {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle/%3E%3Cg data-name='Layer 6' id='Layer_6'%3E%3Cpath class='cls-1' d='M50.43,17.31V46.39A4.64,4.64,0,0,1,45.81,51H17.22a4.64,4.64,0,0,1-4.62-4.62V17.31a4.64,4.64,0,0,1,4.63-4.63H45.81'/%3E%3Ccircle cx='50.48' cy='13.98' r='1'/%3E%3Cpath class='cls-1' d='M28.92,28.08h5v1.64h.1c.64-1,1.7-2,4.31-2,3.23,0,5.64,2.13,5.64,6.77v9.35h-4.9V35.11c0-2-.71-3.42-2.48-3.42a2.62,2.62,0,0,0-2.48,1.84A3.5,3.5,0,0,0,34,34.75v9.1h-4.9V32'/%3E%3Cpolyline class='cls-1' points='25.2 32.08 25.2 43.98 20.31 43.98 20.31 28.08 25.2 28.08'/%3E%3Cpath class='cls-1' d='M25.52,22.75A2.77,2.77,0,1,1,22.75,20'/%3E%3C/g%3E%3C/svg%3E");
}


/*end of icons for nav bar */


/*manifesto page */

.manifesto-card {


    


min-height:100%;



overflow:scroll;
overflow-x:hidden;
}
.bar-container {
position:absolute;
right:15px;
top:0px;

}
.manifesto {
    width:100vw;
min-height:100%;
overflow-x: hidden!important;
 overflow: -moz-hidden-unscrollable;

background-image: url('General\ Assets/KYN web MANIFESTO bg pinkpurple (1).jpg');
background-position: center;
background-size: cover;
scroll-behavior: smooth;
scroll-snap-type: none;
scroll-padding-top: 70px;
}
.manifesto-card-v2-content{
    background-color:whitesmoke;
    display:flex;
    align-self: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
width:800px;
    height:620px;
opacity:1;
transform: translate(-10vw,-40px);
padding:1.5rem 0;
padding-bottom:2rem;


}
.image-manifesto{
    width:800px;
    display: flex;
    justify-content: flex-end;
   

}
.art-parent-container .css-1m9128y{
    position:absolute;
    top:100vw;
    left:0;
    
}

.image-manifesto > img {
    width:350px;
    height:700px;
    z-index: 10;
    object-fit:contain;
    transform: scale(1.8);
    position: relative;
    bottom:160px;
    right:15px;
}
.manifesto-card-v2-phone-content{
   display:flex;
   background-color: white;
   flex-direction: column;
width:100vw;
justify-content: center;
align-items:center;
   opacity:1;
height:100%;
}

.image-phone-manifesto {
    width:60vw;
    position:absolute !important;
    z-index: 10 !important;
left:-100px !important;
top:50px !important;
}

.image-phone-manifesto > img {
object-fit: cover;
}




.manifesto-card-phone{
  
width:100vw;

display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.music-bars {
    width:50px;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    margin-right:15%;
    position:absolute;
    right:0;
    top:0;
    
}
.music-bars span{
    display: block;
    width: 18px;
  height:60px;
    background-color: black;
bottom:10%;
  margin-right: 2px;
position: relative;

}
.backdrop {
    position: relative;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    background: #000000e1;

}
.music-bars span:nth-child(1){
    animation-duration: 1.9s;
}
.music-bars span:nth-child(2){
    animation-duration: 2s;
    transform: translate(25%,0);
}
.music-bars span:nth-child(3){
    animation-duration:2.3s;
    transform: translate(50%,0);
}
.music-bars span:nth-child(4){
    animation-duration: 2.4s;
    transform: translate(75%,0);
}
.music-bars span:nth-child(5){
    animation-duration: 2.1s;
    transform: translate(100%,0);
}


/*end of manifesto-page */



/*start of sanctuary page */






.sanctuary{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
 position:relative;
    background-image: url('General\ Assets/sanctuary_header_1.jpg');

    align-items: center;
overflow-y:hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sanctuary-header{
    position: relative;
    font-size:2.5rem;
    font-weight:600;
    color:#fff;
   
}
.sanctuary .clouds{
    position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
    pointer-events: none;
}
.sanctuary .clouds img{
    position:absolute;
    bottom:-350px;
    max-width:100%;

}
.values{


    background-image:url('General\ Assets/KYN web SANC bg bright (1).jpg');
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    flex-direction: column;
    height:fit-content;
    background-size: cover;
}

.sanctuary-phone-image {
    width:100%;
    height:40vh;
    

}
.sanctuary-carousel-image {
    width:100%;
}
.sanctuary-carousel-image img {
  width:100%;
  object-fit: cover;
}
.sanctuary-phone-image img
 {
    height:100%;

    object-fit: cover;

    
}

.sanctuary-content-grid {

width:100%;
margin:0 auto;

overflow: hidden;
}

.phone-sanctuary-card{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

min-height:100vh;
}

.sanctuary-content-2
{
    display: grid;
    grid-template-columns:44% 56%;
    width:80%;
    height:clamp(300px,550px,550px);
overflow: hidden;
margin:20px auto;

    }

    .sanctuary-content-2-image,
    .sanctuary-content-2-image
    {
        height:clamp(300px,550px,550px); 
    }

.sanctuary-content-3 {
        display: grid;
        grid-template-columns:55% 45%;
        width:80%;
        height:clamp(300px,550px,550px);
        overflow: hidden;
  
        margin:20px auto;
}

.villa-1 {
    display: grid;
    grid-template-columns : repeat(12,1fr);
    column-gap: 2rem;
    width:100%;
   padding: 0 100px;
   margin-top:20px;
    padding-bottom:20px;
    
}


.seperator {
    width:100%;
    height:3px;
    background-color: white;
    margin:30px 100px;
    
}

.villa-1-image {

    height:100%;
    width:100%;


padding-top:7%;
padding-bottom:calc(7% - 34px);
    margin:0 auto;
    overflow: hidden;
}
/*image gallery */
.css-1l7c0cy img {
    height:100%;
    object-fit: cover;
    object-position: center;
}
.villa-1-content {
    grid-column : span 4;
    width:100%;
    display:flex;
    flex-direction: column;
    
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    padding: 0px !important;
    height:calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto !important;
  
}




.css-1abc02a,
.css-hn784z
{
    background-color:white;
}
.css-1ujsas3{
    min-width: auto !important;
    padding:0 !important;
}
.css-1abc02a button,
.css-hn784z button

{
    height:100%;

}


.css-1abc02a:hover button{
    background-color:transparent !important;
    opacity:1 !important;
    filter: brightness(100%) !important;
}
.css-hn784z:hover button {
    background-color:transparent !important;
    opacity:1 !important;
    filter: brightness(100%) !important;
}
.villa-1-image-wrapper {
    grid-column : span 8;
    height:100%;
    width:100%;
    grid-row : span 2;  
   display: flex;
    justify-content: center;
    align-items: center; 
       background-color: white;
       
}



/*end of sanctuary page */



/*start of team page */

section {
  
    width:100%;
    height:100%;

    
    background-image: url('General\ Assets/KYN web TEAM bg bright (1).jpg');

    position:absolute;
    display: flex;
flex-direction: column;
    overflow-y:hidden;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
gap:50px;

    box-sizing:border-box;
}





.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;   
   background-color: white;

    filter:blur(4px);
border: 1px solid transparent;
border-radius: 10px;
  }
  .phone-swiper {
    background-position: center;
    background-size: cover;
    width: 100%;   
    
  }



  .swiper-slide-active {
      filter:blur(0px);
   opacity:1;
   background-color: white;
  }
.profileCard-icons{
    display: flex;
    max-width:460px;
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top:10px;
    padding-bottom:10px;
}
.profileCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;
    padding:40px;
    

}
.profileCard > p {
    text-align: center;
    font-size:1rem;
 
 
}
.profileCard > img {
    width:120px;
    height:auto;
    object-fit: contain;
    align-self: center;
    position: relative;
    height:120px;
    border-radius:60px;
    
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;
}



/*end of team page */





/*dreammap page */


.routemap-avatar{
    width:45%;
    display: flex;
    justify-content: flex-end;
    z-index: 20;
}
.routemap-avatar > img {
    width:50%;
    height:85%;
 }

 .slider-button {
    width:200px;
    height:fit-content;
    padding:1rem;
    border-radius: 10px;
    border : 1px solid transparent;
    background-color: orange;
    margin-left:30px;
 }

 .backdrop{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    background-color: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0.7;
 }
 .art-modal {
    width:min(50vw,60vw);
    height:min(40vw,60vw);
    margin:auto;
    padding:0 2rem;
    border-radius:12px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    overflow: hidden;
 }

.art-modal img {
    object-position:50% 120%;
}
.background-strip {
    background-image: url('General\ Assets/dreammap-strip-3.jpeg');
    width:100%;
   background-size: cover;
    height:230px !important;
   
}

.mouse-one{
    background-image: url('General\ Assets/hover_star_3.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.55) scaleX(1.55) translateY(-7px) translateX(-2px);
border:none;

}

.mouse-two {
    background-image: url('General\ Assets/hover_star_irl.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.55) scaleX(1.55) translateY(-7px) translateX(-2px);
border:none;
}
.mouse-three {
    background-image: url('General\ Assets/hover\ phy\ brand.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.55) scaleX(1.55) translateY(-3px) translateX(1px);
border:none;
}
.mouse-four {
    background-image: url('General\ Assets/hover\ community.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.55) scaleX(1.55) translateY(-3px) translateX(1px);
border:none;
}
.mouse-five {
    background-image: url('General\ Assets/hover\ education.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.55) scaleX(1.55) translateY(-7px) translateX(0px);
border:none;
}
.mouse-six {
    background-image: url('General\ Assets/hover tbe.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.55) scaleX(1.55) translateY(3px) translateX(14px);
border:none;
}
.mouse-seven {
    background-image: url('General\ Assets/hover\ connect.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.55) scaleX(1.55) translateY(-5px) translateX(7px);
border:none;
}
.mouse-eight {
    background-image: url('General\ Assets/hover\ animal.png');
    width:100%;
  height:auto;
    background-position: center;
    background-size:contain;
transform:scaleY(1.45) scaleX(1.45) translateY(-6px) translateX(2px);
border:none;
}



/*end of dreammap page */



/*start of art page */





.phone-art-button {
    cursor:pointer;
    position:absolute;
    bottom:70px;
    right:15%;
}



 
 .art-card-frame {
    width:clamp(180px,25%,250px);
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
 }

 

 
.art-phone-image-card{


    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
}

.art-phone-drawer{
        height:80vh;
        width:100vw;
     
        background-color: #000000e1 !important;
 
}
.art-phone-drawer__backdrop {
 top:-70px !important;
 height: calc(100% + 70px) !important;
}

.art-avatar {
    width:clamp(380px,450px,650px);
    height:clamp(400px,650px,700px);
    object-fit: contain;
    margin-left:30px;

}




.art-card {
    width:clamp(180px,20%,250px);
    height:clamp(180px,20%,250px);
    cursor:pointer;
}

.art-card-row {
    width:clamp(720px,80%,80%);
    height:clamp(180px,20%,250px);
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
    
}
.art-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:650px;
    gap:20px;
    width:clamp(720px,50%,85%);
    margin-left:80px;
}


@media screen and (min-width: 670px) and (max-width: 960px) {
    .art-card-row{
        width:clamp(65%,500px,500px);
        
     }
     .art-avatar{
         width:clamp(300px,25%,400px);
       
     }
} 



/*end of art section */






